{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Bienvenus Tenno</h1>
        <p>le site Warframe Shawzinu a été crée par le clan darkRevenge et les pétales du lotus, pour que tout tenno
            puis partager leur
            composition crée avec l'instrument de musique Shawzin.
        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">plus d'infos</a></p>
    </div>
</div>
<div class="container">
    <div class="row">

        <div class="col">

            <h2>Récents</h2>

            {% for musique in musiques %}

            <div class="card-conpact">
                <div class="infos-section">
                    <h4>
                        <a href="{{ path ('musique_detail', {id:musique.id}) }}">{{musique.title}}</a>
                    </h4>
                    <h2>{%trans%}Copier le code{%endtrans%}:
                        <i onclick="copyToClipboard('#code{{musique.id}}')" class="fas fa-link"></i>

                        <div class="border"></div>
                    </h2>
                    <p id="code{{musique.id}}">{{musique.code}}</p>
                    <div class="s-m">
                        <a href=" {{ musique.visual}} " class="fab fa-youtube" target="_blank"></a>
                    </div>
                </div>
                <div class="top-section">
                    <div class="name">{%trans%}Crée par{%endtrans%}
                        <span>{{ musique.idUser.nickname }}</span>
                    </div>
                    <div class="name">{%trans%}Publier le{%endtrans%}
                        <span>{{ musique.created | date('d/m/Y') }}</span>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
        <div class="col">
            <h2>Polulaires</h2>
        </div>
        <div class="col">
            <h2>Meilleur compositeur</h2>
        </div>
    </div>
</div>

{% endblock %}