{% extends 'base.html.twig' %}

{% form_theme formMusique 'bootstrap_4_layout.html.twig' %}

{% block body %}


    {{ form_start(formMusique,  {attr: {'class': "form-signup"}}) }}
    <h2>{%trans%}Ajout d'une musique{%endtrans%}</h2>
    {{ form_row(formMusique.title, {'attr': {'placeholder': "Titre de la musique (50 caractères max)",'maxlength': "50"}})}}
    {{ form_row(formMusique.difficulty)}}
    {{ form_row(formMusique.description,{'attr': {'placeholder': "Décrivez votre musique !",'style' : "height:12rem;"}})}}
    {{ form_row(formMusique.code,{'attr': {'placeholder': "Exemple:
    4BAABADkAHiAMhAVUAbSAhRAnSAqUAtCAxCAzkA3iA9hBHUBPSBURBbSBdUBgEBlEBnkBsiByhB7UCCSCIRCOSCRUCUBCZBCckChiCnhCwUC2SC8RDCSDFUDI
",'style' : "height:13rem;"}}) }}

    <button type="submit" class="btn btn-primary">
        {% if editMode %}
            Enregister les modifications
        {% else %}
            {%trans%} Ajouter la musique {%endtrans%}
        {% endif %}

    </button>

    {{ form_end(formMusique) }}

{% endblock %}
