{% extends 'base.html.twig' %}

{% block body %}

<table class="table-responsive-xl table-dark">
  <thead>
    <tr>
      <th scope="col">{% trans %}Titre {% endtrans %}</th>
      <th scope="col">{% trans %}Auteur{% endtrans %}</th>
      <th scope="col">{% trans %}Difficulté{% endtrans %}</th>
      <th scope="col">{% trans %}Description{% endtrans %}</th>
      <th scope="col">{% trans %}Date{% endtrans %}</th>
      <th scope="col">{% trans %}Code{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ musique.title }}</th>
      <td><a href="#" class="card-link">#Users</a></td>
      <td>{{ musique.difficulty }}</td>
      <td>{{ musique.description }}</td>
      <td>{{ musique.created | date('d/m/Y') }}</td>
      <td>{{ musique.code }}</td>
    </tr>
  </tbody>
</table>


{% endblock %}
