{% extends 'base.html.twig' %}

{% block body %}


    <dir class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="card text-center">
                    <div class="card-header">
                        {% trans %}Auteur{% endtrans %}
                        :
                        {{ musique.idUser.nickname }}


                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{% trans %}Titre
                            {% endtrans %}
                            :
                            {{ musique.title }}</h5>
                        <p class="card-text">{% trans %}Code{% endtrans %}</p>
                        <p id="codeCp" class="card-text">
                            {{ musique.code }}</p>
                        <button type="button" onclick="copyToClipboard('#codeCp')" class="btn btn-outline-dark">Copy</button>
                    </div>
                    <div class="card-footer text-muted">
                        {{ musique.created | date('d/m/Y') }}
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{% trans %}Description{% endtrans %}
                            :
                        </li>
                        <li class="list-group-item">{{ musique.description }}</li>
                        <li class="list-group-item">{% trans %}Difficulté{% endtrans %}
                            :
                            {{ musique.difficulty }}</li>
                    </ul>
                </div>
            </div>


            <div class="my-3 p-5 bg-white ">

                <h4 class="border-bottom border-gray pb-2 mb-1">Commentaire</h4>
                {% for comment in musique.commented %}
                    <div class="media">
                        <img src="/img/icon/users/Default.png" class="mr-1" style="width: 32px;">

                        <div class="media-body">
                            <h5 class="mt-0">{{comment.author}}</h5>
                            {{comment.content}}
                            <p class="blockquote-footer">Posté le
                                {{ comment.createdAt | date('d/m/Y') }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </dir>
{% endblock %}
