{% extends 'base.html.twig' %}

{% block body %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Compositions</h1>
            <p class="lead text-mutes">
                {%trans%}Ici vous retrouverez toutes les compositions crées par les tennos de tout l'univers.{%endtrans%}
            </p>
        </div>
    </section>

    <div class="container">
        <div class="row">

            {% for musique in musiques %}

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="{{ path ('musique_detail', {id:musique.id}) }}">
                            <img class="card-img-top" src="{{ musique.visual }}" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ path ('musique_detail', {id:musique.id}) }}">{{ musique.title }}</a>
                            </h4>
                            <h5>{%trans%}Auteur{%endtrans%}
                                :
                                {{ musique.idUser.nickname }}</h5>

                            <p class="card-text">{{ musique.difficulty }}</p>
                            <p class="card-text">{{ musique.description }}</p>
                            <p class="card-text">{{ musique.code }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-lg">
                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button">
                                        <div class="btn-group mr-2" role="group" aria-label="First group">
                                            <button type="button" class="btn ">
                                                <i class="far fa-heart"></i>
                                            </button>
                                            <a href="{{ path ('musique_detail', {id:musique.id}) }}" class="btn ">
                                                <i class="far fa-comment"></i>
                                                <span class="badge badge-primary">
                                                    {{ musique.commented | length }}
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 d-flex align-items-center">
                                    <small class="text-muted">Crée le
                                        {{ musique.created | date('d/m/Y') }}</small>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>

    </div>

{% endblock %}
