{% extends 'base.html.twig' %}

{% block body %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Compositions</h1>
            <p class="lead text-mutes">
                {%trans%}Ici vous retrouverez toutes les compositions crées par les tennos de tout l'univers.{%endtrans%}
            </p>
        </div>
    </section>

    <div class="container">
        <div class="row">

            {% for musique in musiques %}

                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="http://placehold.it/420x640" class="card-img">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ musique.title }}</h5>
                                <p class="card-text">{{ musique.description }}</p>
                                <p class="card-text">{{ musique.code }}</p>
                                <p class="card-text">
                                    <small class="text-muted">{{ musique.difficulty }}</small>
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">{{ musique.created | date('d/m/Y') }}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>

    </div>

{% endblock %}
