{% extends 'base.html.twig' %}

{% block body %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Compositions</h1>
            <p class="lead text-mutes">
                {%trans%}Ici vous retrouverez toutes les compositions crées par les tennos de tout l'univers.{%endtrans%}
            </p>
        </div>
    </section>

    <div class="container">
        <div class="row">

            {% for musique in musiques %}

                <div class="card-standard middle">
                    <dir class="top-section">
                        <div class="name">{%trans%}Crée par{%endtrans%}
                            <span>{{ musique.idUser.nickname }}</span>
                        </div>
                    </dir>

                    <div class="infos-section">
                        <h4>
                            <a href="{{ path ('musique_detail', {id:musique.id}) }}">{{musique.title}}</a>
                        </h4>
                        <h2>Code
                            <i onclick="copyToClipboard('#code{{musique.id}}')" class="fas fa-link"></i>

                            <div class="border"></div>
                        </h2>
                        <p class="text-break" id="code{{musique.id}}">{{ musique.code }}</p>
                        <div class="s-m">
                            <a href="https://www.youtube.com/embed/1hF3y4eZ6D0" class="fab fa-youtube"></a>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>

    </div>


{% endblock %}
